




/* Typography */


body {
	font-family: Lato, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.2em;
}


.s2{
	font-size: 12px;
}

.s1{
	font-size: 14px;
}


.t1{
	font-size: 20px;
	line-height: 1.4em;
}

.t2{
	font-size: 24px;
	line-height: 1.6em;
}

.t3{
	font-size: 30px;
	line-height: 1.8em;
}



/* Common styles */


.section-margin{
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 20px;
	margin-right: 20px;
}

.module-margin{
	margin-top: 40px;
	margin-bottom: 40px;
}


















/* Styles the header */

.main-header {
	background-color: #3496ea;
	width: 100%;
	z-index: 99;
	display: flex;
    justify-content: center;
}

.main-header__container{
	width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}



@media (min-width: 768px) {
	.main-header {
		height: 80px;
}
	.main-header__container{
		max-width: 1170px;
		height: 100%;
		display: flex;
		align-items: center;
	}
	.main-nav{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}


.main-header__logo{
	max-height: 20px;
	padding: 20px;
	padding-left: 0px;
}

.main-nav__hamburger{
	display: inline-block;
	cursor: pointer;
	float: right;
	padding: 20px;
	padding-right: 0px;
}



.hamburger__line{
	background: white;
	display: block;
	height: 2px;
	width: 20px;
	margin-bottom: 5px;
}



.hamburger__line:nth-child(1){
	margin-top: 7px;
	transform: rotate(-45deg);
}

.hamburger__line:nth-child(3){
	margin-top: -7px;
	transform: rotate(45deg);
}


.hamburger__line:nth-child(2){
	display: none;
}


.hamburger__line.is-closed{
	display: block;
	margin-top: 0;
	transform: rotate(0deg);
}


@media (min-width: 768px) {
	.main-nav__hamburger{
		display: none;
	}
}




.main-nav__list.is-invincible{
	display: none;
}

.main-nav__list{
	line-height: 2.2em;
	padding-left: 20px;	
	padding-bottom: 20px;
}

.main-nav__links{
	text-decoration: none;
	color: white;
}


@media (min-width: 768px) {
	.main-nav__list.is-invincible{
		display: flex;
		align-items: center;
	}
	.main-nav__list{
		padding: 0;
		margin: 0;
	}
	.main-nav__links{
		display: inline;
		padding: 20px 30px;
	}
}




/* Styles the pricing info section */

.pricing-info{
	display: flex;
    flex-direction: column;
    align-items: center;
}


.pricing-info__wrap{
	width: 100%;
    display: flex;
    flex-direction: column;

}

@media (min-width: 768px) {
	.pricing-info__wrap{
		max-width: 1000px;
	}
}

.pricing-info__intro{
	width: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.pricing-info__intro__heading{
	font-weight: bold;
	font-size: 26px;
	line-height: 1.8em;
}

.pricing-info__intro__text span{
	color: #3496ea;
	font-weight: bold;
}

.pricing-plans{
	width: 100%;
	display: flex;
	flex-direction: column;
}



@media (min-width: 768px) {
	.pricing-plans{
		flex-flow: row;
	}
}

.pricing-plans__plan_wrap{
	border: 1px solid #d0d4d9;
}

.pricing-plans__plan{
	margin-bottom: 60px;
}

@media (min-width: 768px) {
	.pricing-plans__plan{
		width: 100%;
	}
}

.pricing-plans__plan_wrap{
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: stretch;
}

.plan__top-offer{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	width: 100%;
	background-color: #f0f7fd;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border: 1px solid #f0f7fd;
}


@media (min-width: 768px) {
	.pricing-plans__plan_wrap--margin-top{
		margin-top: 70px;
	}
}

.pricing-plans__plan_wrap--featued{
	background-color: #f0f7fd;
}

@media (min-width: 768px) {
	.pricing-plans__plan--margin{
		margin-left: 2%;
	}
}

.plan__heading{
	height: 80px;
	background-color: #f4faff;
}

.plan__heading--featured{
	background-color: #0071e0;
}


.plan__text{
	padding: 15px;
}

.plan__text--featured{
	color: white;
}

.plan__body{
	margin: 20px;
}

.plan__body__wrap{
	display: flex;
	align-items: center;
	margin-bottom: 20px;

}

.plan__body__price{
	margin-right: 20px;
}


.plan__body__descr{
		flex: 1;
}


.plan-features__feature{
	line-height: 2em;
	background: url(../img/tick.svg) 0px 15px no-repeat;
	background-size: 25px;
    padding-left: 50px;
    padding-bottom: 15px;
}

.plan-features__feature--featured{
	font-weight: bold;
}

.plan-features__icon{
	max-width: 30px;
	margin-right: 10px;
}

.plan__cta{
	display: flex;
	justify-content: center;
}

.plan__button{
	margin: 40px 0;
	padding: 20px 35px;
	border: 1px solid #3496ea;
	color: #3496ea;
	background-color: white;
	border-radius: 5px;
}

.plan__button--featured{
	background-color: #0071e0;
	color: white;
}

.plan__button:hover{
	background-color: #f0f7fd;
}

.plan__button--featured:hover{
	background-color: #3398ea;
}









/* Styles the footer */
.main-footer {
	background-color: #777;
	padding: 10px;
	text-align: center;
	color: white;
}


