




/* Typography */


body {
	font-family: Lato, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.2em;
}


.s2{
	font-size: 12px;
}

.s1{
	font-size: 14px;
}


.t1{
	font-size: 20px;
	line-height: 1.4em;
}

.t2{
	font-size: 24px;
	line-height: 1.6em;
}

.t3{
	font-size: 30px;
	line-height: 1.8em;
}



/* Common styles */


.section-margin{
	margin-top: 40px;
	margin-bottom: 40px;
}

.module-margin{
	margin-top: 40px;
	margin-bottom: 40px;
}


.section-wrap{
	max-width: 1170px;
	margin-left: 20px;
	margin-right: 20px;
}

















/* Styles the header */

.main-header {
	background-color: #3496ea;
	width: 100%;
	z-index: 99;
}



@media (min-width: 768px) {
	.main-header {
		height: 80px;
}
	.main-header__container{
		max-width: 1170px;
		height: 100%;
		margin: 0 auto;
		display: flex;
		align-items: center;
	}
	.main-nav{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}


.main-header__logo{
	max-height: 20px;
	padding: 20px;
	padding-left: 0px;
}

.main-nav__hamburger{
	display: inline-block;
	cursor: pointer;
	float: right;
	padding: 20px;
}



.hamburger__line{
	background: white;
	display: block;
	height: 2px;
	width: 20px;
	margin-bottom: 5px;
}



.hamburger__line:nth-child(1){
	margin-top: 7px;
	transform: rotate(-45deg);
}

.hamburger__line:nth-child(3){
	margin-top: -7px;
	transform: rotate(45deg);
}


.hamburger__line:nth-child(2){
	display: none;
}


.hamburger__line.is-closed{
	display: block;
	margin-top: 0;
	transform: rotate(0deg);
}


@media (min-width: 768px) {
	.main-nav__hamburger{
		display: none;
	}
}




.main-nav__list.is-invincible{
	display: none;
}

.main-nav__list{
	line-height: 2.2em;
	padding-left: 20px;	
	padding-bottom: 20px;
}

.main-nav__links{
	text-decoration: none;
	color: white;
}


@media (min-width: 768px) {
	.main-nav__list.is-invincible{
		display: flex;
		align-items: center;
	}
	.main-nav__list{
		padding: 0;
		margin: 0;
	}
	.main-nav__links{
		display: inline;
		padding: 20px 30px;
	}
}




/* Styles the pricing info section */

.prcing-info__intro{
	width: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.prcing-info__intro__heading{
	font-weight: bold;
	font-size: 26px;
	line-height: 1.8em;
}

.prcing-info__intro__text span{
	color: #3496ea;
	font-weight: bold;
}

.pricing-plans{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.pricing-plans__plan{
	border: 1px solid #d0d4d9;
	margin-bottom: 20px;
}

.plan__heading{
	height: 80px;
	background-color: #f4faff;
}

.plan__text{
	padding: 15px;
}























/* Styles the footer */
.main-footer {
	background-color: #777;
	padding: 10px;
	text-align: center;
	color: white;
}


